h1{
    background-color: aqua;
    color:red;
    
}

h2{
    background-color: blueviolet;
    color: burlywood;
    text-align: center;
    text-decoration: underline;
}
h3{
    background-color: aquamarine;
    color:blanchedalmond;
    text-align: center;
    text-decoration: underline;
}